<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Foodfy</title>
        <link rel="stylesheet" href="/admin/styles.css">
    </head>

    <body>
        <header>

            <div class="text content">
                <a href="/admin"><img src="/assets/logo.png" alt=""/></a>

            </div>
        </header>

        <div class="receitas">
            <div class="texts">
                <h1>Gerenciar Receitas</h1>
                <a href="/admin/create">Adicionar Receita</a>
            </div>

            <div class="cards">
                {% for data in datas %}
                    <div class="card">
                        <img src="{{data.image}}" alt="">
                        <div class="card-text">
                            <p class="title">{{data.title}}</p>
                            <p class="author">{{data.author}}</p>
                            <a href="/admin/recipes/{{data.id}}" class="see">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </body>
</html>