* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  margin-top: 38px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}
.text {
  display: flex;

  text-decoration: none;
  text-align: center;
  margin-bottom: 50px;
}

.text img {
  margin-right: 120px;
  font-style: italic;
}

.text a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

.destaque {
  font-weight: bold;
}

main {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

main h2 {
  margin-bottom: 20px;
}
.card {
  width: 300px;
  margin-bottom: 20px;
}

.card img {
  width: 350px;
  height: 150px;
  border-radius: 15px;
}
.card p {
  font-size: 18px;
}

.card .autor {
  font-size: 14px;
  color: #777777;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
footer {
  margin-top: 50px;
  background-color: #eeeeee;
  height: 60px;
}

footer p {
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
  color: #999999;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 900px;
  height: 500px;
  margin: 5vh auto;
  position: relative;
  border-radius: 10px;
}

.modal .close-modal {
  color: black;
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
}

/* MODAL-ACTIVE */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-content img {
  width: auto;
  height: auto;

  top: 5%;
  border-radius: 9px;
  margin-left: 140px;
  margin-right: 160px;
  margin-top: 50px;
}

.modal-content h1 {
  margin-top: 30px;
  text-align: center;
}

.autor_modal {
  margin-top: 20px;
  font-size: 20px;
  color: #777777;
  text-align: center;
}
