<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodfy</title>
    <link rel="stylesheet" href="receitas.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <section class="content">
        <div class="text">
          <a href="/"><img src="/foods_assets/logo.png" alt="" /></a>
          <a href="/sobre.html">Sobre</a>
          <a href="/receitas.html" class="destaque">Receitas</a>
        </div>

        <main>
          <div class="grid">
            <div class="card">
              <img src="/foods_assets/burger.png" alt="" />
              <p>Triplo bacon burger</p>
              <p class="autor">por Jorge Relato</p>
            </div>
            <div class="card">
              <img src="/foods_assets/pizza.png" alt="" />
              <p>Pizza 4 estações</p>
              <p class="autor">por Fabiana Melo</p>
            </div>
            <div class="card">
              <img src="/foods_assets/espaguete.png" alt="" />
              <p>Espaguete ao alho</p>
              <p class="autor">por Júlia Kinoto</p>
            </div>
            <div class="card">
              <img src="/foods_assets/lasanha.png" alt="" />
              <p>Lasanha mac n’ cheese</p>
              <p class="autor">por Juliano Vieira</p>
            </div>
            <div class="card">
              <img src="/foods_assets/doce.png" alt="" />
              <p>Docinhos pão-do-céu</p>
              <p class="autor">por Ricardo GolveaS</p>
            </div>
            <div class="card">
              <img src="/foods_assets/asinhas.png" alt="" />
              <p>Asinhas de frango ao barbecue</p>
              <p class="autor">por Vania Steroski</p>
            </div>
            <div class="card">
              <img src="/foods_assets/burger.png" alt="" />
              <p>Triplo bacon burger</p>
              <p class="autor">por Jorge Relato</p>
            </div>
            <div class="card">
              <img src="/foods_assets/pizza.png" alt="" />
              <p>Pizza 4 estações</p>
              <p class="autor">por Fabiana Melo</p>
            </div>
            <div class="card">
              <img src="/foods_assets/espaguete.png" alt="" />
              <p>Espaguete ao alho</p>
              <p class="autor">por Júlia Kinoto</p>
            </div>
            <div class="card">
              <img src="/foods_assets/lasanha.png" alt="" />
              <p>Lasanha mac n’ cheese</p>
              <p class="autor">por Juliano Vieira</p>
            </div>
            <div class="card">
              <img src="/foods_assets/doce.png" alt="" />
              <p>Docinhos pão-do-céu</p>
              <p class="autor">por Ricardo GolveaS</p>
            </div>
            <div class="card">
              <img src="/foods_assets/asinhas.png" alt="" />
              <p>Asinhas de frango ao barbecue</p>
              <p class="autor">por Vania Steroski</p>
            </div>
            <div class="card">
              <img src="/foods_assets/burger.png" alt="" />
              <p>Triplo bacon burger</p>
              <p class="autor">por Jorge Relato</p>
            </div>
            <div class="card">
              <img src="/foods_assets/pizza.png" alt="" />
              <p>Pizza 4 estações</p>
              <p class="autor">por Fabiana Melo</p>
            </div>
            <div class="card">
              <img src="/foods_assets/espaguete.png" alt="" />
              <p>Espaguete ao alho</p>
              <p class="autor">por Júlia Kinoto</p>
            </div>
            <div class="card">
              <img src="/foods_assets/lasanha.png" alt="" />
              <p>Lasanha mac n’ cheese</p>
              <p class="autor">por Juliano Vieira</p>
            </div>
            <div class="card">
              <img src="/foods_assets/doce.png" alt="" />
              <p>Docinhos pão-do-céu</p>
              <p class="autor">por Ricardo GolveaS</p>
            </div>
            <div class="card">
              <img src="/foods_assets/asinhas.png" alt="" />
              <p>Asinhas de frango ao barbecue</p>
              <p class="autor">por Vania Steroski</p>
            </div>
          </div>
        </main>
      </section>
    </div>

    <footer>
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <div class="modal-overlay">
      <div class="modal">
        <a class="close-modal">
          <i class="material-icons"
            ><span class="material-icons">
              close
            </span></i
          >
        </a>

        <div class="modal-content"></div>
      </div>
    </div>

    <script src="main.js"></script>
  </body>
</html>
