{% extends "layout.njk" %}

{% block style %}
  <link rel="stylesheet" href="/user/styles.css"/>
{% endblock style %}

{% block content %}
  <div class="header">
    <section class="content">
      <div class="background_image">
        <div class="background_text">
          <h2>As melhores receitas</h2>
          <p>
            Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
          </p>
        </div>

        <img src="/assets/chef.png" alt="chef"/>
      </div>
      <main>
        <h2>Mais acessadas</h2>
        <div class="grid">
          {% for data in datas %}
            <a class="card" href="/recipes/{{data.id}}">
              <img src="{{data.image}}" alt=""/>
              <p class="title">{{data.title}}</p>
              <p class="autor">{{data.author}}</p>
            </a>
          {% endfor %}

        </div>
      </main>
    </section>
  </div>
{% endblock content %}