<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Foodfy</title>
        <link rel="stylesheet" href="/admin/chefs.css">
    </head>

    <body>
        <header>

            <div class="text content">
                <a href="/admin"><img src="/assets/logo.png" alt=""/></a>
                <a href="/admin/chefs">Chefs</a>

            </div>
        </header>

        <main>

            <div class="text-header">
                <h1>Gerenciar Chefs</h1>
            </div>

            <div class="cards">
                {% for chef in chefs %}
                    <div class="card">
                        <img src="{{chef.avatar_url}}" alt="">
                        <div class="card-text">
                            <div class="texts">
                                <p class="author">{{chef.name}}</p>
                                <a href="/admin/chefs/{{chef.id}}" class="see">Visualizar</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>

    </body>