<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/admin/create.css">
        <title>Admin Detail</title>
    </head>
    <body>

        <header>

            <div class="text content">
                <a href="/admin"><img src="/assets/logo.png" alt=""/></a>

            </div>
        </header>

        <form class="conteudo" action="/admin/recipes" method="POST">
            <div class="show">
                <h1>Criando Receita</h1>
                <div class="btns">

                    <button type="submit">Salvar Receita</a>
                </div>

            </div>

            <div class="item">
                <h3>Título da Receita</h3>
                <input type="text" name="title" autocomplete="off">
            </div>

            <div class="item">
                <h3>Chefe</h3>
                <select name="chef_id" id="select">
                    {% for chef in chefs %}
                        <option value="{{chef.id}}">{{chef.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="item">
                <h3>Imagem da Receita</h3>
                <input type="url" name="image" id="" placeholder="Link da imagem" value="{{data.image}}">
            </div>
            <div class="item" id="ingredients">
                <h3>Ingredientes</h3>

                <div class="ingredient">
                    <input type="text" name="ingredients[]" value="{{data}}">
                </div>

            </div>

            <div class="buttonadd">

                <button type="button" class="addIngredient" onclick="addIngredient() ">Adicionar novo ingrediente</button>

            </div>

            <div class="item" id="prepare">
                <h3>Modo de preparo</h3>

                <div class="prepare">
                    <input type="text" name="preparation[]" placeholder="Adicione um passo" value="{{data}}">
                </div>

            </div>

            <div class="buttonadd">

                <button type="button" class="addPreparation" onclick="addPrepare()">Adicionar novo passo</button>

            </div>
            <div class="item">
                <h3>Informações adicionais</h3>
                <textarea name="information" id="description" placeholder="Digite sua mensagem">{{data.information}}</textarea>
            </div>

        </form>
        <form action="/admin/recipes?_method=DELETE" method="POST" id="delete">
            <input type="hidden" name="id" value="{{data.id}}">
        </form>
        <script>
            const ingredients = document.querySelector("#ingredients")

            function addIngredient() {

                var field = document.querySelector(".ingredient");

                const newField = field.cloneNode(true);

                newField
                    .children[0]
                    .value = "";
                ingredients.appendChild(newField)
            }

            const prepare = document.querySelector("#prepare");
            function addPrepare() {
                var field = document.querySelector(".prepare")
                const newField = field.cloneNode(true);

                newField
                    .children[0]
                    .value = "";
                prepare.appendChild(newField)
            }
        </script>
    </body>
</html>