<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/admin/detail.css">
        <title>Admin Detail</title>
    </head>
    <body>

        <header>

            <div class="text content">
                <a href="/admin"><img src="/assets/logo.png" alt=""/></a>

            </div>
        </header>

        <div class="show">

            <h1>Receita:
                {{data.title}}</h1>
            <a href="/admin/recipes/{{data.id}}/edit">Editar Receita</a>

        </div>
        <div class="conteudo">

            <img src="{{data.image}}" alt="">

            <div class="desc">
                <h1 class="desc_title">{{data.title}}</h1>
                <p class="autor">Por
                    {{data.chefs_name}}</p>
            </div>

            <div class="ingredient">

                <div class="span">

                    <h1>Ingredientes</h1>

                </div>

                <ul class="contents">
                    {% for items in data.ingredients %}
                        <li>-
                            {{items}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="prepare ingredient">
                <div class="span">
                    <h1>Modo de preparo</h1>

                </div>

                <ul class="contents">
                    {% for data in data.preparation %}
                        <li>-
                            {{data}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="add">
                <h1>Informações adicionais</h1>
                <p>{{data.information}}</p>
            </div>

        </div>

    </body>
</html>