* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #111111;
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.content {
  position: absolute;
  left: 380px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}
.text {
  text-decoration: none;
  text-align: center;
}

.text img {
  margin-right: 120px;
  font-style: italic;
}

.text a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

div.show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-top: 55px;
}

div.show h1 {
  font-weight: bold;
  font-size: 24px;
  color: #111111;
}

div.show .btns a {
  text-decoration: none;
  padding: 9px 20px;
  color: white;
  border-radius: 4px;
}
div .btns a:first-child {
  background-color: #dc4747;
  margin-right: 10px;
  cursor: pointer;
}

div .btns button {
  padding: 9px 20px;
  background-color: #6558c3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.conteudo {
  text-align: center;
  max-width: 940px;
  display: inline block;
  margin: 50px auto;
  text-align: left;
}
.conteudo .item {
  margin-top: 30px;
}

.conteudo .item h3 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
}
.conteudo .item input,
textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 15px;
  margin-bottom: 10px;
}

#select {
  width: 100%;
  height: 50px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 15px;
  margin-bottom: 10px;
}
.add {
  font-size: 16px;
  color: #6558c3;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
}
textarea {
  height: 250px;
  padding-top: 1.2%;
}

.addIngredient,
.addPreparation {
  background-color: white;
  border: none;
  font-weight: bold;
  color: #6558c3;
  font-size: 15px;
  cursor: pointer;
}
